---
title: Archive
layout: page
permalink: /archive/
---

<p>Posts are split up by articles and asides.</p>
<br>

<h2 class="section-title">Articles</h2>
<hr>
<ul class="archive-list">
{% for post in site.categories.columns %}
  <li>
    <span class="archive-list-title"><a href="{{ post.url | prepend: site.baseurl }}">{{  post.title }}</a></span>
    <span class="archive-date">{{ post.date | date: "%b %-d, %Y"}}</span>
  </li>
{% endfor %}
</ul>

<br>

<h2 class="section-title">Asides</h2>
<hr>
<ul class="archive-list">
{% for post in site.categories.asides %}
  <li>
    <span class="archive-list-title"><a href="{{ post.url | prepend: site.baseurl }}">{{  post.title }}</a></span>
    <span class="archive-date">{{ post.date | date: "%b %-d, %Y"}}</span>
  </li>
{% endfor %}
</ul>
