---
layout: default
title: Chase McCoy
---

<div class="introduction topography bg-brand-accent clearfix table">
  <div class="pt6 pl10 pb6 col-xs-12 col-sm-6 float-none table-cell">
    <div class="h1 extrabold color-cream" id="site-title">Chase McCoy</div>

    <hr class="bg-page my3">

    <p class="pt4 h2 line-height-3 color-cream">I'm a front-end designer and developer who wants to make the
      web a better place with beautiful pixels and clean bits. I'm always trying to be the dumbest person
      in the room.</p>
  </div>

  <div class="portrait col-xs-12 col-sm-6 float-none table-cell">
  </div>
</div>

{% include timeline.html %}

{% include portfolio.html %}

<div class="contact topography bg-brand-primary-low">
  <div class="container">
    <div class="col-xs-12 h3 center">
      <ul class="list-inline">
        <li class="color-cream bold">Contact Me</li>
        <li class="sans"><a href="mailto:desk@chasemccoy.net" target="_blank">desk@chasemccoy.net</a></li>
        <li class="sans"><a href="http://twitter.com/chase_mccoy" target="_blank">@chase_mccoy</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="portfolio bg-brand-primary">
  <div class="container">
    <div class="flex items-center">
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="h2 color-cream bold portfolio-title">Dribbble</div>
        <hr class="bg-brand-accent">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-7">
        <div class="color-cream h3 line-height-3 bold serif py3">You can see some of my other pixels and bits
        by browsing through my Dribbble feed.</div>
      </div>
    </div>

    <div class="col-xs-12 px0 pt4 shots-container">
      <ul class="shots list-reset"></ul>
    </div>
  </div>
</div>
