---
layout: null
title: The Owlery
---

{% include head.html %}

<div id="wrapper">
{% include header.html %}
<div class="content">

  <div class="sectionDivider">
    <span style="background-color: white; position: relative; top: -1.1em;" class="sectionHeader">
      The Asides
    </span>
  </div>

  {% for post in site.categories.asides limit:4 %}
	   <article class="aside">
       <p>
         {{ post.content | remove: '<p>' | remove: '</p>'}}
         <a class="asideDate" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d" }}</a>
      </p>
     </article>
     {% if forloop.index != 4 %}
        <hr class="asidesSeperator">
     {% endif %}
	{% endfor %}

  <br>

  <div class="sectionDivider">
    <span style="background-color: white; position: relative; top: -1.1em;" class="sectionHeader">
      The Column
    </span>
  </div>

  {% for post in site.categories.columns limit:2 %}
    <article class="column">
      {% if post.image %}
        <div id="previewImage" style="background-image: url(/assets/img/{{ post.image }})">
          <div class="overlay"></div>
          <div class="heroContent aboveOverlay heroPreview">
            <h2 class="postTitle" style="font-size: 2.5rem; line-height: 2.7rem;"><a href="{{ post.url }}" class="white">{{ post.title }}</a></h2>
            <span class="postDate white" style="font-size: 0.8rem;">{{ post.date | date: "%B %-d %Y" }}</span>
          </div>
        </div>
      {% else %}
        <h2 class="postTitle"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="postDate">{{ post.date | date: "%B %-d %Y" }}</span>
      {% endif %}

      {{ post.content }}
    </article>
  {% endfor %}

  <div class="sectionDivider" style="width: 50%; margin: 0 auto;">
    <span style="background-color: white; position: relative; top: -1.1em;" class="sectionHeader">
      Previous Posts
    </span>
  </div>

  <ul class="previousPosts">
	{% for post in site.categories.columns offset:2 limit: 5 %}
		<li class="previousPost">
			<h2 class="postTitle previousTitle"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<span class="postDate previousDate">{{ post.date | date: "%B %-d %Y" }}</span>
		</li>
	{% endfor %}
	</ul>

  <div class="sectionDivider">
    <span style="background-color: white; position: relative; top: -1.1em;" class="sectionHeader">
      Latest Quote
    </span>
  </div>

  {% for post in site.categories.quotes limit:1 %}
	   <article class="quote">
       <p class="quoteText">
         “{{ post.content | remove: '<p>' | remove: '</p>'}}”
       </p>
       <p class="quoteSource">— {{ post.source }}</p>
     </article>
	{% endfor %}

  <div class="sectionDivider"></div>

  {% for post in site.categories.asides offset:4 limit:15 %}
	   <article class="aside">
       <p>
         {{ post.content | remove: '<p>' | remove: '</p>'}}
         <a class="asideDate" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d" }}</a>
      </p>
     </article>
     {% if forloop.index != 15 %}
        <hr class="asidesSeperator">
     {% endif %}
	{% endfor %}

</div> <!-- end content -->

{% include footer.html %}
</div> <!-- end wrapper -->
