---
layout: null
---

{% include head.html %}

<div id="wrapper">
{% include header.html %}
<div class="content">

  <div class="sectionDivider">
    <span style="background-color: white; position: relative; top: -1.1em;" class="sectionHeader">
      The Asides
    </span>
  </div>

  <div class="asides">
    <div class="asides-left">
      {% for post in site.categories.asides limit:4 %}
    	   <article class="aside">
           <p>
             {{ post.content | remove: '<p>' | remove: '</p>'}}
             <a class="asideDate" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d" }}</a>
          </p>
         </article>
         {% if forloop.index != 4 %}
            <hr class="asidesSeperator">
         {% endif %}
    	{% endfor %}
    </div>
    <hr class="asidesSeperator mobileOnly">
    <div class="asides-right">
      {% for post in site.categories.asides offset:4 limit:4 %}
    	   <article class="aside">
           <p>
             {{ post.content | remove: '<p>' | remove: '</p>'}}
             <a class="asideDate" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d" }}</a>
          </p>
         </article>
         {% if forloop.index != 4 %}
            <hr class="asidesSeperator">
         {% endif %}
    	{% endfor %}
    </div>
    <div class="clearfix"></div>
  </div>

  <br>

  <div class="sectionDivider">
    <span style="background-color: white; position: relative; top: -1.1em;" class="sectionHeader">
      The Column
    </span>
  </div>

  {% for post in site.categories.columns limit:1 %}
    <article class="column">
      {% if post.image %}
        <div id="previewImage" style="background-image: url(/assets/img/{{ post.image }})">
          <div class="overlay"></div>
          <div class="heroContent aboveOverlay heroPreview">
            <h2 class="postTitle fancy" style="font-size: 2.5rem; line-height: 2.7rem;"><a href="{{ post.url }}" class="white">{{ post.title }}</a></h2>
            <span class="postDate white" style="font-size: 0.8rem;">{{ post.date | date: "%B %-d %Y" }}</span>
          </div>
        </div>
      {% else %}
        <h2 class="postTitle fancy"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="postDate">{{ post.date | date: "%B %-d %Y" }}</span>
      {% endif %}

      {% if post.content contains '<!-- more -->' %}
        {{ post.content | split:'<!-- more -->' | first }}
      {% else %}
      	{{ post.excerpt }}
      {% endif %}
      <p style="text-align:center;">
        <a href="{{ post.url }}" class="more">Continue reading...</a>
      </p>
    </article>
  {% endfor %}

  <div class="sectionDivider" style="width: 50%; margin: 0 auto;">
    <span style="background-color: white; position: relative; top: -1.1em;" class="sectionHeader">
      Previous Posts
    </span>
  </div>

  <ul class="previousPosts">
	{% for post in site.categories.columns offset:1 limit: 5 %}
		<li class="previousPost">
			<h2 class="postTitle previousTitle fancy"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<span class="postDate previousDate">{{ post.date | date: "%B %-d %Y" }}</span>
		</li>
	{% endfor %}
	</ul>

  <div class="sectionDivider">
    <span style="background-color: white; position: relative; top: -1.1em;" class="sectionHeader">
      Latest Quote
    </span>
  </div>

  {% for post in site.categories.quotes limit:1 %}
	   <article class="quote">
       <p class="quoteText fancy">
         “{{ post.content | remove: '<p>' | remove: '</p>'}}”
       </p>
       <p class="quoteSource">— {{ post.source }}</p>
     </article>
	{% endfor %}

  <div class="sectionDivider"></div>

  <div class="asides">
    <div class="asides-left">
      {% for post in site.categories.asides offset:8 limit:4 %}
    	   <article class="aside">
           <p>
             {{ post.content | remove: '<p>' | remove: '</p>'}}
             <a class="asideDate" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d" }}</a>
          </p>
         </article>
         {% if forloop.index != 4 %}
            <hr class="asidesSeperator">
         {% endif %}
    	{% endfor %}
    </div>
    <hr class="asidesSeperator mobileOnly">
    <div class="asides-right">
      {% for post in site.categories.asides offset:12 limit:4 %}
    	   <article class="aside">
           <p>
             {{ post.content | remove: '<p>' | remove: '</p>'}}
             <a class="asideDate" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d" }}</a>
          </p>
         </article>
         {% if forloop.index != 4 %}
            <hr class="asidesSeperator">
         {% endif %}
    	{% endfor %}
    </div>
    <div class="clearfix"></div>
  </div>

  <br>
  <div class="sectionDivider"></div>

</div> <!-- end content -->

{% include footer.html %}
</div> <!-- end wrapper -->
