<section class="footer">


</section>

<script src="assets/js/jquery.fittext.js"></script>
<script>
  jQuery("#site-title").fitText(0.5);
  jQuery(".portfolio-title").fitText(0.7);
</script>

<script src="assets/js/jribbble.min.js"></script>

<script>
  $.jribbble.setToken('ad1f77e3394d27bc79b40c856f28f259103965f081c031ed5d603cbdaffe0856');

  $.jribbble.users('chase_mccoy').shots({per_page: 100}).then(function(shots) {
    var html = [];

    shots.forEach(function(shot) {
      var images = shot.images;
      var img = (images.hidpi) ? images.hidpi : images.normal;
      html.push('<li class="shot col-xs-12 col-sm-4 col-md-3">');
        html.push('<div class="shot card bg-component">');
          html.push('<a class="text-decoration-none" href="' + shot.html_url + '" target="_blank">');
          html.push('<div class="shot cover bg-brand-component" style="background-image: url(' + img + ')"></div></a>');
          // html.push('<div class="shot info"><a class="text-decoration-none color-brand-primary" href="' + shot.html_url + '" target="_blank"><h3 class="color-brand-primary bold center pb1">' + shot.title + '</h3></a>');
          // if (shot.description) {
          //   html.push(shot.description);
          // }
          // html.push('</div>');
        html.push('</div>');
      html.push('</li>');
    });

    $('.shots').html(html.join(''));
  });
</script>

</body>
</html>
