<section class="footer">


</section>

<script src="assets/js/jquery.fittext.js"></script>
<script>
  jQuery("#site-title").fitText(0.5);
  jQuery("#portfolio-title").fitText(1.2);
</script>

<script src="assets/js/jribbble.min.js"></script>

<script>
  $.jribbble.setToken('ad1f77e3394d27bc79b40c856f28f259103965f081c031ed5d603cbdaffe0856');

  $.jribbble.users('chase_mccoy').shots({per_page: 100}).then(function(shots) {
    var html = [];

    shots.forEach(function(shot) {
      var images = shot.images;
      var img = (images.hidpi) ? images.hidpi : images.normal;
      html.push('<li class="shot col-md-3 col-sm-6 col-xs-12 px0">');
      html.push('<a href="' + shot.html_url + '" target="_blank">');
      html.push('<div class="shot cover" style="background-image: url(' + img + ')"')
      // html.push('<img src="' + shot.images.hidpi + '">');
      html.push('</a></li>');
    });

    $('.shots').html(html.join(''));
  });

  function stickyNav() {
    var stickyNavTop = $('#nav').offset().top;

    $(window).scroll(function () {
      var scrollTop = $(window).scrollTop();

      if (scrollTop >= stickyNavTop) {
        $('#nav').addClass('nav-fixed');
        $('body').addClass('nav-margin');
      }
      else {
        $('#nav').removeClass('nav-fixed');
        $('body').removeClass('nav-margin');
      }
    });
  }

  $(document).ready(function() {
    stickyNav();

    $(window).on("resize", function () {
      stickyNav();
    })
  });
</script>

</body>
</html>
