<section class="header">

<div class="headerLeft">
  <h1 class="siteTitle fancy">
    <span class="headerIntro">this is</span> The Owlery
  </h1>

  <ul class="siteMenu">
    <li><a href="/archive" class="menuLink">archives</a></li>
    <li><a href="/" class="menuLink">about</a></li>
    <li><a href="/" class="menuLink">colophon</a></li>
  </ul>
</div>

<div class="headerRight">
  <p class="about">
    A hyperlink odyssey. Written, curated, and published by Chase McCoy.
  </p>
</div>

<div class="clearfix"></div>

</section>
