<div class="portfolio bg-page">
  <div class="container">
    <div class="flex items-center pb4 clearfix">
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="h2 color-brand-primary bold portfolio-title">Portfolio</div>
        <hr class="bg-brand-accent">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-7">
        <div class="color-brand-accent h3 line-height-3 bold serif py3">This is a collection of work that I am most
        proud of. It ranges from websites to iOS apps to logos, icons, and branding.</div>
      </div>
    </div>

    {% assign documents = (site.documents | sort: 'date') | reverse %}
    {% for item in documents %}
      {% if item.collection == 'portfolio' %}
        <div class="portfolio-item clearfix">
          <div class="col-xs-12">
            <span class="h2 color-brand-primary title bold mobile">{{ item.title }}</span>
            <a href="{{ item.link }}"><img class="col-xs-12 col-md-6 col-lg-4 image px0" src="/assets/portfolio/{{ item.image }}"></a>
            <span class="h2 color-brand-primary title bold desktop">{{ item.title }}</span>
            <span class="h4 line-height-3 description">{{ item.content }}</span>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>
