<ul class="timeline list-reset col-xs-6">
	{% for item in site.timeline %}
	<div class="row">
		<div class="{% cycle 'col-xs-3 col-md-3', 'col-xs-6 col-md-0' %}"></div>
			<li class="item col-xs-6 col-sm-3">
				<div class="bubble {% cycle 'left', 'right' %}"></div>
				<div class="panel {% cycle 'right', 'left' %} card">
					<div class="meta"><span class="type">{{ item.type }}&nbsp</span>&nbsp{{ item.date_range }}</div>
					<div class="title">{{ item.title }}</div>
					{{ item.content }}
				</div>
			</li>
	</div>
	{% endfor %}
</ul>

<div class="timeline dob col-xs-6 clearfix">
  <div class="bubble center"></div>
  <div class="meta"><span class="h4 type">Born&nbsp;</span>&nbsp;May 4, 1995</div>
</div>
