$neat-grid: (
  columns: 4,
  gutter: 32px
);

$desktop: (
	columns: 4,
	gutter: 32px,
	media: 36rem
);

$library-item-grid: (
	columns: 2,
	gutter: 16px,
);

$xs: "xs";
$sm: "sm";
$md: "md";
$lg: "lg";

$breakpoints: (
  xs: 25rem,
  sm: 38rem,
  md: 50rem,
  lg: 60rem
);

$color-dark: #244C65;
$color-light: #738B99;

$root-font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$root-font-size: 20px;
$small-font-size: 16px;
$root-line-height: 1.5;

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
