.love {
	color: $color-light;
	position: fixed;
	bottom: 0;
	left: 6px;
}

img.floral {
	position: absolute;
	top: 0;
	right: 0;
}

.banner {
	background-image: url('/public/banner.png');
	background-size: 170px;
	background-position: center;
	height: 150px;
	top: 0;
	right: 0;
	left: 0;
}

.container {
	@include grid-container;
	// @include grid-visual;
  max-width: 856px;
	margin: 0 auto;
}

@mixin row {
	@include grid-column(4);
	@include grid-collapse;
}

main {
	@include grid-column(4);
}

h1.intro {
	margin-bottom: 64px;
}

.theowlery {
	background-color: lighten($color-light, 44%);
	border-radius: 8px;
	padding: 10px 20px 20px 20px;
	margin-bottom: 56px;

	h1 {
		a {
			color: #5856d6;
			font-weight: 800;

			&:hover {
				color: darken(#5856d6, 15%);
			}
		}
	}
}

.preview {
	@include row;
	margin-bottom: 32px;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;

	h1 {
		@include grid-column(4);
	}

	img.item-image {
		@include grid-column(2);
		margin-bottom: 32px;

		@include grid-media($desktop) {
    	@include grid-column(1);
  	}
	}
}

.page-title {
	margin-bottom: 64px;
}

.page-content {
	margin-bottom: 64px;
}

.item-grid {
	@include row;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;

	.item {
		@include grid-column(2);

		@include grid-media($desktop) {
    		@include grid-column(1);
  		}
  	
  		&-image {
  			margin-bottom: 8px;
  		}
	}
}

.item-list {
	.item {
		@include grid-column(4);
		@include row;

		h1 {
			margin-top: 0;
		}

		&-image {
			@include grid-column(4);
			margin-bottom: 24px;

			@include grid-media($desktop) {
	    	@include grid-column(2);
				margin-bottom: 0;
	  	}
		}

		&-info {
			@include grid-column(4);

			@include grid-media($desktop) {
	    	@include grid-column(2);
	  	}
		}
	}
}

.item {
	margin-bottom: 40px;

	h2 {
		margin-top: 0;
	}
}

img {
	border-radius: 2px;
}

footer {
	@include grid-column(4);
	margin-top: 32px;
	margin-bottom: 48px;
}
