html {
  font-size: 18px;
  color: $brand-primary-color;
}

img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 24px 10px rgba($brand-primary-color, 0.15);
}

.wf-loading {
  opacity: 0;
  visibility: hidden;
}

.ie.wf-loading {
  visibility: hidden;
}

.ie.wf-active {
  visibility: visible;
}

.wf-active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .625s ease-in-out;
  -moz-transition: opacity .625s ease-in-out;
  transition: opacity .625s ease-in-out;
}
