.introduction {
  min-height: calc(100vh);
}

.topography { background-image: url("/assets/img/topography.png"); }

.portrait {
  width: 100%;
  background-image: url("/assets/img/portrait.png");
  background-size: cover;
}

.h1 {
  font-family: $script;
  font-weight: 400;
  line-height: 1.4;
}

.h2, .h3 {
  font-family: $serif;
}

hr {
  width: 40%;
  height: 12px;
}

.container {
  padding: 1.5rem 1rem;

  @include media-breakpoint-up(sm) {
    padding: 1.5rem 4rem;
  };
}

.portfolio {
  min-height: 100vh;

  .portfolio-item {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 1rem;
    }

    .image {
      margin: .5rem 0 2rem;

      @include media-breakpoint-up(md) {
        margin-right: 2.5rem;
        margin-bottom: 1rem;
      };
    }
  }
}

.contact {
  a:hover {
    color: white;
  }
}

ul.shots {
  li.shot {
    margin-bottom: gutter() * 2;
    p { color: map-get($brand-primary, brand-primary-low); }
    a { word-wrap: break-word; }

    .card {
      border-radius: 8px;
    }

    .cover {
      border-radius: 8px;

      background-position: center center;
      @include aspect-ratio(4, 3);
    }

    .info {
      padding: 1rem;

      h3 {
        font-family: $serif;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .introduction > div {
    display: block;

    &:last-child {
      height: 65vh;
    }
  }

  .contact {
    .h3 {
      font-size: 1.75rem;
    }
  }
};

@include media-breakpoint-down(sm) {
  .introduction > div {
    padding: 1.5rem;
  }

  .portfolio {
    > .container > div:first-child {
      display: block;
    }

    .h1 {
      padding: 1rem 0;
    }
  }
};

@include media-breakpoint-up(md) {
  .portfolio {
    > .container > div:first-child {
      padding-bottom: 5rem;
    }
  }
};
