@font-face {
    font-family: 'Bridone-web';
    src: url(/fonts/bridonetitling-demibold-italic.eot);
    src: url(/fonts/bridonetitling-demibold-italic.eot?#iefix) format("embedded-opentype"), url(/fonts/bridonetitling-demibold-italic.woff2) format("woff2"), url(/fonts/bridonetitling-demibold-italic.woff) format("woff");
    font-weight: bold;
    font-style: italic
}

html {
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family:  'Avenir Next', system, -apple-system,
      ".SFNSDisplay-Regular", 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      ".SFNSDisplay-Regular";
  font-size: 1.05rem;
  line-height: 1.7rem;
}

section.footer {
  height: 3rem;
  padding: 1rem 0;
}

.clearfix {
  clear: both;
}

.mobileOnly {
  display: none;
}

/*h1, h2, h3, h4, h5 { -webkit-font-smoothing: antialiased; }*/

/* ===================== */
/* STRUCTURE =========== */
/* ===================== */

#wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

.header {
  margin: 0 0 3rem 0;
}

.headerLeft {
  float: left;
  width: 55%;
}

.headerRight {
  float: right;
  width: 40%;
  padding: 0 0 0 5%;
  color: #c0c0c0;
}

p.about {
  color: inherit;
  font-size: 0.8rem;
  margin: 0;
  text-align: right;
  line-height: 1.3rem;
  padding: 1.6rem 0 0 0;
}

ul.siteMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #c0c0c0;
}

ul.siteMenu:hover {
  color: #d13636;
}

ul.siteMenu li {
  display: inline;
  padding: 0 0.1rem 0 0;
}

ul.siteMenu li::after {
  content: "  •";
  color: #c0c0c0 !important;
  font-size: 0.9rem;
}

ul.siteMenu li:last-child::after {
  content: "";
}

a.menuLink {
  color: inherit;
  font-size: 0.9rem;
  text-decoration: none;
}

a.menuLink:hover {
  color: inherit;
}

.asides-left {
  width: 47%;
  float: left;
}

.asides-right {
  width: 47%;
  float: right;
  border-left: 2px solid #faebeb;
  padding: 0 0 0 4%;
}

article.aside {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin: 0 0 1rem 0;
  /*border-bottom: 1px solid #faebeb;*/

  /*background-color: #faebeb;
  padding: 0.8rem 0 0.1rem 0.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;*/
}

hr.asidesSeperator {
  height: 0.4rem;
  background-color: #faebeb;
  border: none;
  width: 4rem;
  margin: 0 0 1rem 0;
}

article.column {
  margin: 0 0 4rem 0;
  /*font-family: Georgia;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;*/
}

article.quote {
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.aboveOverlay {
  z-index: 2;
  position: relative;
}

.heroContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;
  padding: 0 0 2rem 0;
}

.heroPreview {
  width: 95%;
}



/* ====================== */
/* TYPOGRAPHY =========== */
/* ====================== */

.fancy {
  font-family: 'Bridone-web', Georgia, serif;
  font-weight: bold;
  font-style: italic;
}

h1.siteTitle {
  color: #d13636;
  font-size: 2rem;
  margin: 1.5rem 0 0 0;
}

.cornerTitle {
  padding: 1rem 0 0 1rem;
  margin: 0 !important;
}

/*.cornerTitle a:hover {
  opacity: 0.7;
}*/

.headerIntro {
  color: #575757;
  font-size: 1.2rem;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
  font-weight: bold;
  font-style: normal;
}

h2.postTitle {
  font-size: 2.0rem;
  line-height: 2.5rem;
  margin: 0 0 0 0;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0 0.5rem 0.3rem;
  /*transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;*/
}

.postDate {
  font-size: 0.7rem;
  color: #d13636;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.2rem 0 0.8rem 0;
  display: block;
}

.asideDate {
  display: inline;
}

p {
  margin: 0 0 1rem 0;
}

p.quoteText {
  font-size: 2.0rem;
  line-height: 2.5rem;
}

p.quoteSource {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #d13636;
  letter-spacing: 1px;
}

a {
  color: #d13636;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
}

a:hover {
  color: black;
}

a.asideDate {
  color: gray;
  text-decoration: none;
}

h1.siteTitle a {
  text-decoration: none;
  color: #d13636;
}

h2.postTitle a {
  color: #3c3c3e;
  text-decoration: none;
}

/*h2.postTitle:hover {
  opacity: 0.8;
}*/

span.sectionHeader {
  padding: 0 1rem 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #d13636;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.sectionDivider {
  margin: 0 0 2rem 0;
  height: 1px;
  background-color: #d13636;
  text-align: center;
}

.white {
  color: white;
}

a.white {
  color: white !important;
}

.previousPosts {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-bottom: 3rem;
}

h2.previousTitle {
  font-size: 1.6rem;
  line-height: 2.0rem;
  padding: 0;
}

.previousDate {
  display: block;
  padding: 0 0 0.5rem 0;
  line-height: 1.2rem;
}

section.footer p {
  color: lightGray;
  font-size: 0.9rem;
  font-style: italic;
}

/* ====================== */
/* IMAGES =============== */
/* ====================== */

img {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.articleImage {
  max-width: none;
  width: 45rem;
  margin: 0 0 1rem -2.5rem;
}

#headerImage {
  width: 100%;
  height: 55vh;
  min-height: 24rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  position: relative;
}

#previewImage {
  width: 45rem;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 1rem -2.5rem;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.video {
  margin: 0 0 1rem 0;
}






@media screen and (max-width: 47rem) {
  #wrapper {
    padding: 0 2rem 0 2rem;
  }

  .articleImage {
    max-width: 100%;
    margin-left: 0;
  }

  #previewImage {
    max-width: 100%;
    margin: 0 0 1rem 0;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}



@media screen and (max-width:480px) {
  #wrapper {
    max-width: calc(100vw - 30px);
    padding: 0;
  }

  .headerLeft {
    float: none;
    width: 100%;
  }

  .headerRight {
    float: none;
    width: 100%;
    padding: 0 0 0 0;
    color: #c0c0c0;
  }

  p.about {
    color: inherit;
    font-size: 0.8rem;
    margin: 0;
    text-align: left;
    line-height: 1.3rem;
    padding: 0.8rem 0 0 0;
  }


  .asides-left {
    float: none;
    width: 100%
  }

  .asides-right {
    float: none;
    width: 100%;
    border-left: none;
    padding: 0;
  }

  .sectionDivider {
    margin: 0 0 2rem -15px;
    width: 100vw;
  }

  #previewImage {
    max-width: 100vw;
    margin-left: -15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  .overlay {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  .cornerTitle {
    font-size: 1.5rem !important;
  }

  .heroContent {
    width: 98%;
    padding: 0;
  }

  img {
    margin-left: -15px;
    max-width: 100vw;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  .mobileOnly {
    display: block;
  }
}



/* ====================== */
/* ARCHIVE ============== */
/* ====================== */

ul.archive-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.archive-list-title {
  font-size: 1.0rem;
  line-height: 2rem;
  font-weight: bold;
}

.archive-list-title a {
  color: #404040;
  text-decoration: none;
}

.archive-date {
  color: gray;
  font-size: 0.9rem;
}

.archive-date::before {
  content: "\00a0 \00a0 \00a0 \00a0"
}
